.drag-element{
    width:100%;
    .drag-box{
        width:250px;
        height:30px;
        background:linear-gradient(to bottom right,#c9dced,#60aef3) ;
        border-radius:5px;
        line-height:30px;
        text-align: center;
        color:#fff;
        margin:10px auto;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        padding:0 10px;
    }
    .drag-content{
        width:200px;
        height:200px;
        margin:20px auto;
        border-radius: 50%;
        border:1px dashed #666;
        background:linear-gradient(rgb(215, 215, 125),rgb(190, 144, 144),rgb(116, 156, 116),) ;
    }
}
